$login-font: "Roboto Light", sans-serif;
$primary-text-color: #ffffff;

body {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";
  grid-template-rows: 60px 1fr 60px;
  margin: 0;
  height: 100vh;
}