@use "base";

@import "header";

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 15px;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background: white;
}

.footer {
  grid-area: footer;
}

.title-frame {
  font-family: base.$login-font;
  font-size: x-large;
  color: base.$primary-text-color;
  background: #bdbdbd;
  height: 62px;
  display: flex;
  align-items: center;
  padding-inline: 240px;
}

.add-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 100px;
  grid-row-gap: 15px;
  padding-left: 220px;
  padding-right: 270px;
  padding-block: 22px;
}

.add-form-item {
  display: flex;
  flex-direction: column;
  font-family: base.$login-font;
  color: #828282;

  label {
    padding-bottom: 10px;
  }

  input {
    height: 46px;
    border: 1px solid #bdbdbd;
    color: black;
  }

  textarea {
    border: 1px solid #bdbdbd;
  }

  select {
    height: 46px;
    border: 1px solid #bdbdbd;
  }
}

.add-form-group-item {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.add-form-button{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 22px;
  padding-top: 22px;

  input{
    font-family: base.$login-font;
    font-size: large;
    font-weight: bold;
    height: 46px;
  }
}

#back{
  border: 1px solid #bdbdbd;
  background: white;
  color: #828282;
}

#save{
  border-style: none;
  color: base.$primary-text-color;
  background-color: #6fcf97;
}

::-webkit-input-placeholder { /* Chrome */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 1;
}